h1 {
    text-align: center;
}

th {
    text-align: center; /* Centrage du texte dans les cellules */
    padding: 10px; /* Ajout de rembourrage pour l'apparence */
    border: 1px solid black; /* Bordure pour les cellules */
}

.titrestab {
    background-color: #880c12;
    color: #fff;
    text-align: center;
}

.tableau {
    margin-left: auto;
    margin-right: auto;
}
